<!doctype html>
<html lang="en" ng-app="statsboard">
<head>
  <title>Pool Stats</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/css/typeahead.js-bootstrap.css" rel="stylesheet" media="screen">
</head>
<body ng-controller="statsController">
  <header >
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
    <ul class="nav navbar-nav header-nav" >
      <li><a class="navLink" href="/"><b>Stats Board</b></a></li>
      <li ng-repeat="(key, item) in stats"><a class="navLink" href="/{{ key }}">{{ item.name }}</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#" class="addBtn"><span class="glyphicon glyphicon-plus"></span> Add Result</a></li>
    </ul>
    </div>
    </nav>
   </header>
   <div class="ng-view" ng-animate="'animate'"></div>
<div class="modal fade addDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add Result</h4>
        </div>
        <div class="modal-body">

	<div  class="panel panel-default teamOne">
            <div class="panel-heading">Team one</div>
		  <div class="panel-body">
		    <div class="form-group">
		    <label>Player One</label>
		    <input type="text"  class="form-control playerTeam1Player1" placeholder="Player One" 
                      ng-model="result.team1.player1">
		  </div>
		  <div class="form-group">
		    <label>Player Two</label>
		    <input type="text"  class="form-control playerTeam1Player2" placeholder="Player Two" 
                      ng-model="result.team1.player2">
		  </div>
		  </div>
        </div>
	<div class="panel panel-default teamTwo">
            <div class="panel-heading">Team two</div>
		  <div class="panel-body">
		    <div class="form-group">
		    <label>Player One</label>
		    <input type="text"  class="form-control playerTeam2Player1" placeholder="Player One" 
                      ng-model="result.team2.player1">
		  </div>
		  <div class="form-group">
		    <label>Player Two</label>
		    <input type="text"  class="form-control playerTeam2Player2" placeholder="Player Two" 
                      ng-model="result.team2.player2">
		  </div>
		  </div>
        </div>
<div class="row">
<div class="form-group col-lg-3">
<label>Winning Team</label>
<select class="form-control winner" ng-model="result.winningTeam">
  <option>1</option>
  <option>2</option>
</select>
</div>
<div class="form-group col-lg-3">
<label>Margin</label>
<input type="number" class="form-control margin" ng-model="result.margin" />
</div>
</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary addResultBtn" ng-click="addResults(result)">Add Result</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <script src="/components/angular/angular.js"></script>
  <script src="/components/angular-route/angular-route.js"></script>
  <script src="/components/jquery/jquery.min.js"></script>
  <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/components/underscore/underscore-min.js"></script>
  <script src="/components/socket.io-client/dist/socket.io.min.js"></script>
  <script src="/components/angular-socket-io/socket.js"></script>
  
  <script type="text/javascript" >
'use strict';
var app = angular.module("statsboard",['ngRoute','btford.socket-io']);
app.config(function ($routeProvider, $locationProvider) {
  $routeProvider.
    when('/', {
      template: <%= JSON.stringify(partials.root) %>
    });
  $routeProvider.
    when('/:statsId', {
      template: <%= JSON.stringify(partials.stats) %>,
      controller:"statsIdController"
    });
  $routeProvider.otherwise({
      redirectTo: '/'
    });

  $locationProvider.html5Mode(true);
});
app.controller("statsIdController", 
function($scope, $routeParams) { 
        $scope.statsId = $routeParams.statsId;
});
app.controller("statsController", 
function($scope,socket) {
	$scope.stats = <%= JSON.stringify(stats) %> ;
	socket.on("changeInfo",function(data) {
          console.log(data);
          _.each(data,function(value,key) {
            _.each(value,function(change) {
              $scope.stats[key].stats = _.filter(
                $scope.stats[key].stats, function(item) {
                return item.name != change.name;
              });
              
              $scope.stats[key].stats.push(change);
            });
          });
	});
	$scope.addResults=function(result) {
	  var message = {},
            teams = [[],[]];
          if(result.team1.player1) {
            teams[0].push(result.team1.player1);
          }
          if(result.team1.player2) {
            teams[0].push(result.team1.player2);
          }
          if(result.team2.player1) {
            teams[1].push(result.team2.player1);
          }
          if(result.team2.player2) {
            teams[1].push(result.team2.player2);
          }
          if(result.winningTeam == 1) {
            message.winner = teams[0];
            message.loser = teams[1];
          } else {
            message.winner = teams[1];
            message.loser = teams[0];
          }
          message.margin = parseInt(result.margin);
          socket.emit("addResult",message);
          
          $(".addDialog").modal('hide');
	}
});

$(function () { 
	$("nav .addBtn").click( function() {
	$('.addDialog input').val("");
	$(".addDialog").modal('show');
  }); 
} ); 
</script>
</body>
</html>
